.floating-lines-container {
  width: 100%;
  height: 100%;
  position: absolute; /* IMPORTANT */
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none; /* shader shouldn't block clicks */
  background: transparent;
}
.floating-lines-canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  transform: none !important;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
